<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu"></div>  
      <div class="name"></div>  
    </div>  
  </div>  
</div>

<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>Hello,<br> My name is Ihor...</h2>
      <!--<a class="btn right btn-secondary" href="/welcome" role="button">View my Work</a>-->
      <a class="btn right btn-primary" href="/welcome" role="button">View my Work</a>
    </div>
  </div>
</div>